/*** Adjusted color swatches ***/
// Adjusted USWDS swatches
$theme-color-primary-darker: #64307E;
$theme-color-accent-cool: #E070A3;

// New USWDS swatches
$unity-pink: #D93778;
$unity-orange-adj: #E07616;
$unity-blue-adj: #6ACDE8;
$unity-red-adj: #D34200;
$unity-yellow: #FAE64C;
$unity-purple: #7E4E96;

// Setting up the Barlow Condensed font 
$theme-typeface-tokens: (
  barlow-condensed: (
    display-name: "BarlowCondensed",
    cap-height: 364px
  )
) !default;

$theme-font-barlow-condensed: (
  dir: 'barlowcondensed',
  roman: (
    100: false,
    200: false,
    300: 'BarlowCondensed-Light',
    400: 'BarlowCondensed-Regular',
    500: false,
    600: false,
    700: 'BarlowCondensed-Bold',
    800: false,
    900: false,
  ),
  italic: (
    100: false,
    200: false,
    300: 'BarlowCondensed-LightItalic',
    400: 'BarlowCondensed-Italic',
    500: false,
    600: false,
    700: 'BarlowCondensed-BoldItalic',
    800: false,
    900: false,
  ),
);

@font-face {
    font-family: BarlowCondensed;
    src: url(../fonts/barlowcondensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: PublicSans;
    src: url(../fonts/public-sans/PublicSans-Light.ttf);
}

// $theme-font-type-cond-custom-src: $theme-font-barlow-condensed !default;

// $theme-font-serif-custom-stack: BarlowCondensed;
// $theme-font-sans-custom-stack: BarlowCondensed;
$theme-font-type-serif: "barlow-condensed";

.bg-white {
    background-color: white;
}

.bg-unity-blue {
    background-color: $unity-blue-adj;
}

.text-white {
    color: white;
}

.bg-unity-yellow {
    background-color: $unity-yellow;
}

.text-accent-cool {
    color: $theme-color-accent-cool;
}

.bg-unity-purple {
    background-color: $unity-purple !important;
}

.text-barlow-heading {
    font-family: BarlowCondensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.text-barlow-title {
    font-family: BarlowCondensed;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.text-barlow-logo {
    font-family: BarlowCondensed;
    font-style: normal; 
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
}

.text-primary-darker {
    color: $theme-color-primary-darker !important;
}

.bg-primary-darker {
    background-color: $theme-color-primary-darker;
}

.text-unity-blue {
    color: $unity-blue-adj !important;
}

.bg-unity-pink {
    background-color: $unity-pink;
}

.bg-unity-home {
    background-image: url("../img/_A3A3537_CMYK\ 1.png") !important;
}

.bg-unity-about {
    background-image: url("../img/_A3A3659_CMYK\ 1.png") !important;
}

.bg-unity-contact {
    background-image: url("../img/_A3A3388_CMYK 1.png") !important;
}

.img-circular {
    border-radius: 50%;
}

.agency-grid {
    display: flex;
    flex-direction: row column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.agency-item {
    max-height: 80px;
    max-width: 220px;
    margin-left: 50px;
    margin-right: 40px;
}

.agency-adjustment {
    margin-top: 50px;
}

.agency-adjustment-first {
    margin-left: 0px;
    margin-right: 30px;
}

.footer-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.footer-padding {
    margin-left: 220px;
    padding-top: 30px;
}

.text-public-sans {
    font-family: PublicSans !important;
}

@import '../../../node_modules/uswds/dist/scss/uswds.scss';

.usa-button {
    background-color: $unity-pink;
}

.usa-button:hover {
    background-color: $unity-orange-adj;
}

.usa-button:active {
    background-color: $unity-red-adj;
}

